In [1]:
import pandas as pd
import numpy as np

In [2]:
my_df = pd.read_excel('my_inner_joined_dataset.xlsx')

In [3]:
my_df

,Unnamed: 0,country,continent,year,lifeExp,pop,gdpPercap,status
0,0,Canada,Americas,1952,68.750,14785584,11367.161120,visited
1,1,Canada,Americas,1957,69.960,17010154,12489.950060,visited
2,2,Canada,Americas,1962,71.300,18985849,13462.485550,visited
3,3,Canada,Americas,1967,72.130,20819767,16076.588030,visited
4,4,Canada,Americas,1972,72.880,22284500,18970.570860,visited
5,5,Canada,Americas,1977,74.210,23796400,22090.883060,visited
6,6,Canada,Americas,1982,75.760,25201900,22898.792140,visited
7,7,Canada,Americas,1987,76.860,26549700,26626.515030,visited
8,8,Canada,Americas,1992,77.950,28523502,26342.884260,visited
9,9,Canada,Americas,1997,78.610,30305843,28954.925890,visited
10,10,Canada,Americas,2002,79.770,31902268,33328.965070,visited
11,11,Canada,Americas,2007,80.653,33390141,36319.235010,visited
12,12,Czech Republic,Europe,1952,66.870,9125183,6876.140250,visited
13,13,Czech Republic,Europe,1957,69.030,9513758,8256.343918,visited
14,14,Czech Republic,Europe,1962,69.900,9620282,10136.867130,visited
15,15,Czech Republic,Europe,1967,70.380,9835109,11399.444890,visited
16,16,Czech Republic,Europe,1972,70.290,9862158,13108.453600,visited
17,17,Czech Republic,Europe,1977,70.710,10161915,14800.160620,visited
18,18,Czech Republic,Europe,1982,70.960,10303704,15377.228550,visited
19,19,Czech Republic,Europe,1987,71.580,10311597,16310.443400,visited
20,20,Czech Republic,Europe,1992,72.400,10315702,14297.021220,visited
21,21,Czech Republic,Europe,1997,74.010,10300707,16048.514240,visited
22,22,Czech Republic,Europe,2002,75.510,10256295,17596.210220,visited
23,23,Czech Republic,Europe,2007,76.486,10228744,22833.308510,visited
24,24,United Kingdom,Europe,1952,69.180,50430000,9979.508487,visited
25,25,United Kingdom,Europe,1957,70.420,51430000,11283.177950,visited
26,26,United Kingdom,Europe,1962,70.760,53292000,12477.177070,visited
27,27,United Kingdom,Europe,1967,71.360,54959000,14142.850890,visited
28,28,United Kingdom,Europe,1972,72.010,56079000,15895.116410,visited
29,29,United Kingdom,Europe,1977,72.760,56179000,17428.748460,visited
30,30,United Kingdom,Europe,1982,74.040,56339704,18232.424520,visited
31,31,United Kingdom,Europe,1987,75.007,56981620,21664.787670,visited
32,32,United Kingdom,Europe,1992,76.420,57866349,22705.092540,visited
33,33,United Kingdom,Europe,1997,77.218,58808266,26074.531360,visited
34,34,United Kingdom,Europe,2002,78.471,59912431,29478.999190,visited
35,35,United Kingdom,Europe,2007,79.425,60776238,33203.261280,visited
36,36,United States,Americas,1952,68.440,157553000,13990.482080,live there
37,37,United States,Americas,1957,69.490,171984000,14847.127120,live there
38,38,United States,Americas,1962,70.210,186538000,16173.145860,live there
39,39,United States,Americas,1967,70.760,198712000,19530.365570,live there
40,40,United States,Americas,1972,71.340,209896000,21806.035940,live there
41,41,United States,Americas,1977,73.380,220239000,24072.632130,live there
42,42,United States,Americas,1982,74.650,232187835,25009.559140,live there
43,43,United States,Americas,1987,75.020,242803533,29884.350410,live there
44,44,United States,Americas,1992,76.090,256894189,32003.932240,live there
45,45,United States,Americas,1997,76.810,272911760,35767.433030,live there
46,46,United States,Americas,2002,77.310,287675526,39097.099550,live there
47,47,United States,Americas,2007,78.242,301139947,42951.653090,live there

In [4]:
my_df.drop(columns=['Unnamed: 0'], inplace=True)

In [5]:
my_df

,country,continent,year,lifeExp,pop,gdpPercap,status
0,Canada,Americas,1952,68.750,14785584,11367.161120,visited
1,Canada,Americas,1957,69.960,17010154,12489.950060,visited
2,Canada,Americas,1962,71.300,18985849,13462.485550,visited
3,Canada,Americas,1967,72.130,20819767,16076.588030,visited
4,Canada,Americas,1972,72.880,22284500,18970.570860,visited
5,Canada,Americas,1977,74.210,23796400,22090.883060,visited
6,Canada,Americas,1982,75.760,25201900,22898.792140,visited
7,Canada,Americas,1987,76.860,26549700,26626.515030,visited
8,Canada,Americas,1992,77.950,28523502,26342.884260,visited
9,Canada,Americas,1997,78.610,30305843,28954.925890,visited
10,Canada,Americas,2002,79.770,31902268,33328.965070,visited
11,Canada,Americas,2007,80.653,33390141,36319.235010,visited
12,Czech Republic,Europe,1952,66.870,9125183,6876.140250,visited
13,Czech Republic,Europe,1957,69.030,9513758,8256.343918,visited
14,Czech Republic,Europe,1962,69.900,9620282,10136.867130,visited
15,Czech Republic,Europe,1967,70.380,9835109,11399.444890,visited
16,Czech Republic,Europe,1972,70.290,9862158,13108.453600,visited
17,Czech Republic,Europe,1977,70.710,10161915,14800.160620,visited
18,Czech Republic,Europe,1982,70.960,10303704,15377.228550,visited
19,Czech Republic,Europe,1987,71.580,10311597,16310.443400,visited
20,Czech Republic,Europe,1992,72.400,10315702,14297.021220,visited
21,Czech Republic,Europe,1997,74.010,10300707,16048.514240,visited
22,Czech Republic,Europe,2002,75.510,10256295,17596.210220,visited
23,Czech Republic,Europe,2007,76.486,10228744,22833.308510,visited
24,United Kingdom,Europe,1952,69.180,50430000,9979.508487,visited
25,United Kingdom,Europe,1957,70.420,51430000,11283.177950,visited
26,United Kingdom,Europe,1962,70.760,53292000,12477.177070,visited
27,United Kingdom,Europe,1967,71.360,54959000,14142.850890,visited
28,United Kingdom,Europe,1972,72.010,56079000,15895.116410,visited
29,United Kingdom,Europe,1977,72.760,56179000,17428.748460,visited
30,United Kingdom,Europe,1982,74.040,56339704,18232.424520,visited
31,United Kingdom,Europe,1987,75.007,56981620,21664.787670,visited
32,United Kingdom,Europe,1992,76.420,57866349,22705.092540,visited
33,United Kingdom,Europe,1997,77.218,58808266,26074.531360,visited
34,United Kingdom,Europe,2002,78.471,59912431,29478.999190,visited
35,United Kingdom,Europe,2007,79.425,60776238,33203.261280,visited
36,United States,Americas,1952,68.440,157553000,13990.482080,live there
37,United States,Americas,1957,69.490,171984000,14847.127120,live there
38,United States,Americas,1962,70.210,186538000,16173.145860,live there
39,United States,Americas,1967,70.760,198712000,19530.365570,live there
40,United States,Americas,1972,71.340,209896000,21806.035940,live there
41,United States,Americas,1977,73.380,220239000,24072.632130,live there
42,United States,Americas,1982,74.650,232187835,25009.559140,live there
43,United States,Americas,1987,75.020,242803533,29884.350410,live there
44,United States,Americas,1992,76.090,256894189,32003.932240,live there
45,United States,Americas,1997,76.810,272911760,35767.433030,live there
46,United States,Americas,2002,77.310,287675526,39097.099550,live there
47,United States,Americas,2007,78.242,301139947,42951.653090,live there